
/*--------------------------------
       Pulsing circle divs
--------------------------------*/

@-webkit-keyframes pulse {
    0%   {-webkit-box-shadow: 0 0 0 0px #EF9D9C; opacity: .5}
    50%  {-webkit-box-shadow: 0 0 0 15px #EF9D9C; opacity: .5}
    100% {-webkit-box-shadow: 0 0 15px 25px #EF9D9C; opacity: 0}
}


/*--------------------------------
           Bubbles
--------------------------------*/

@-webkit-keyframes bubbleup {
	0% {
		bottom: 0;
	}
	60% {
			bottom: 800px;
		}
}


/*--------------------------------
           Fish Mouths
--------------------------------*/

@-webkit-keyframes breathe {
	5% {
		opacity: 1;
	}

	64% {
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	71% {
			opacity: 1;
		}
		99% {
			opacity: 1;
		}
}


/*--------------------------------
        Swimming Fish
--------------------------------*/


@-webkit-keyframes swimleft {
	50% {
			left: 20%;
		}
	100% {
			left: -50%;
		}
}
@-webkit-keyframes swimright {
	30% {
			left: 10%;
		}
	60% {
			left: 50%;
		}
	100% {
			left: 120%;
		}
}
