/*--------------------------------
       PAGE STYLES
--------------------------------*/
* {
	box-sizing: border-box;

}

body {
	background: -webkit-linear-gradient(#319399, #85DBDF) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	color: black;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

/*--------------------------------
       INTRO PAGE
--------------------------------*/

.intro-div {
	border: 2px solid black;
	width: 48%;
	margin: 60px auto;
	border-radius: 7px;
	padding: 10px 20px 17px 20px;
	background-color: rgba(255,255,255, .1);
}

.intro-div:nth-child(1) {
	margin-top: 140px;
}

.intro-div:hover {
	background-color: rgba(255,255,255, .4);
}

.first-page h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 4px;
	font-weight: 400;
}

/*--------------------------------
       NEW GAME PAGE
--------------------------------*/

.new-game-page-div {
	width: 80%;
	margin: 100px auto;
	border: 4px solid black;
	padding: 20px;

}

.new-game-page-div h1 {
	font-size: 2.8em;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
}

.new-game-page-div h1:nth-child(3) {
	margin-top: 40px;
}

button {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.2em;
	border: 3px solid black;
	background-color: rgba(255,255,255, .1);
	border-radius: 7px;
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 12px 20px;
}

input[type=text] {
	font-size: 1.7em;
	max-width: 350px;
	height: 60px;
	margin: 0 auto;
	padding: 9px 14px;
}

button:hover {
	background-color: rgba(255,255,255, .4);
}

/*--------------------------------
       JOIN GAME PAGE
--------------------------------*/
.select-game-page .new-game-page-div {
	padding: 20px;
}

.select-game-page h1 {
	margin: 20px 30px 0 30px;
	padding-bottom: 10px;
	line-height: 1.2;
}
.game-list-item {
font-family: 'Lato', sans-serif;
	font-weight: 400;
	border: 2px solid black;
	padding: 14px;
	width: 70%;
	margin: 20px auto;
	background-color: rgba(255,255,255, .1);
}

.game-list-item:hover {
	background-color: rgba(255,255,255, .5);
}

.select-game-page button {
	margin-top: 24px;
}

.clickeditem {
	background-color: rgba(255,255,255, .5);
}

.notclickeditem {
	background-color: rgba(255,255,255, .1);
}

.enter-name-page .new-game-page-div {
	padding: 32px;
}

.enter-name-page h1 {
	margin-bottom: 24px;
}

.enter-name-page input {
	display: block;
	max-width: 100%;
}

.enter-name-page button {
	margin-bottom: 14px;
}


/*--------------------------------
       HEADER STYLES
--------------------------------*/


.player-stats {
	width: 46%;
	text-align: right;
	border: 4px solid black;
	height: 100px;
	margin: 20px 5px 20px 12px;
	padding-right: 15px;
	padding-top: 15px;
}

.player-stats:nth-child(2) {
	position: relative;
	top: -120px;
	right: -49%;
}

.x-marker, .o-marker {
	text-align: left;
	font-size: 6em;
	position: relative;
	top: -30px;
	left: 10px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	z-index: -2;
}

.active {
	color: rgba(255,255,255,0.5);
}

.player-stats h1 {
	padding-right: 30px;
	position: relative;
	top: -146px;
	right: -28px;
	line-height: 1.1;
	font-size: 1.8em;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	letter-spacing: 3px;
}

.tic-tac-toe-container {
	width: 90%;
	margin: 0 auto;
}

.game-title {
	position: relative;
	top: -122px;
	width: 100%;
	height: 80px;
	margin: 20px auto 0;
	background-color: rgba(255,255,255,0.9)

}

.game-title h1 {
	padding-top: 9px;
	font-size: 3.7em;
	position: static;
	margin: 0;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 4px;
	font-weight: 400;

}
/*--------------------------------
          TIC TAC TOE BOARD
--------------------------------*/

.tic-tac-toe-container {
	position: relative;
	top: -90px;
	width: 90%;
	margin: 0 auto;
}
.game-square {
	height: 140px;
	width: 33%;
	float: left;
	font-size: 7em;
	font-weight: 500;
	
}

.game-square p {
	position: relative;
	bottom: 5px;
}

.game-square:nth-child(1), .game-square:nth-child(2), .game-square:nth-child(4), .game-square:nth-child(5), .game-square:nth-child(7),.game-square:nth-child(8) {
	border-right: 5px solid black;

}

.game-square:nth-child(1), .game-square:nth-child(2), .game-square:nth-child(3), .game-square:nth-child(4), .game-square:nth-child(5), .game-square:nth-child(6)  {
	border-bottom: 5px solid black;
}

/*--------------------------------
          OVERLAY
--------------------------------*/

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 3;
}

#modal {
	width: 70%;
	margin: 180px auto;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 25px;
	border: 4px solid black;
}
#modal h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 4px;
	font-weight: 400;
}

#modal button {
	width: 150px;
	margin: 20px 20px 4px;
	font-size: 1.4em;
	padding: 9px;
	background-color: rgb(218, 218, 218);
}

#modal button:nth-child(4) {
	margin-bottom: 30px;
}

#modal button:hover {
	background-color: rgb(187, 187, 199);
}

#modal-turn {
	width: 70%;
	margin: 180px auto;
	background-color: white;
	padding: 24px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 25px;
	border: 4px solid black;
}

#modal-turn h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 4px;
	font-weight: 400;
}

#modal-turn button {
	width: 150px;
	margin: 20px 20px 20px;
	font-size: 1.4em;
	padding: 9px;
	background-color: rgb(218, 218, 218);
}

#modal-turn button:hover {
	background-color: rgb(187, 187, 199);
}

/*--------------------------------
          BUBBLES
--------------------------------*/
.circle {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: 2px solid white;
	position: absolute;
	bottom: -100px;
	/*-webkit-animation: bubbleup 10s ease infinite;*/
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	z-index: -2;
	background-color: white;
}